PORT=3000
DATABASE_URI=mongodb+srv://username:password@cluster.mongodb.net/todo-db?retryWrites=true&w=majority

# JWT
SECRET_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Environment
NODE_ENV=development
